<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Completa tu información</h1>
</div>
<div class="wrapper-md">
  <tabset class="tab-container" ng-init="steps={percent:20, step1:false, step2:false, step3:true}">
    <tab heading="Paso 1" active="steps.step1" select="steps.percent=10">
      <p class="m-b">Obtén todas las estadisticas de tu colegio.</p>
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
      <form name="step1" class="form-validation">
        <p>Nombre de tu colegio:</p>
        <input type="text" name="nombreColegio" class="form-control" ng-model="InformacionColegio.nombreColegio" required ng-change="step1.nombreColegio.$valid ? (steps.percent=10) : (steps.percent=0)" tabindex="1">
          <br>
        <p>Ubicación</p>    
            <ui-select ng-model="InformacionColegio.ubicacion"
                     name="ubicacion"   
                     theme="bootstrap"
                     ng-disabled="disabled"
                     reset-search-input="false"
                     style="width: 300px;" 
                     tabindex="2"
                     required ng-change="step1.ubicacion.$valid ? (steps.percent=20) : (steps.percent=10)">
            <ui-select-match placeholder="Pais">{{$select.selected.formatted_address}}</ui-select-match>
            <ui-select-choices repeat="ubic in ubicaciones track by $index"
                     refresh="BuscarDireccion($select.search)"
                     refresh-delay="0">
              <div ng-bind-html="ubic.formatted_address | highlight: $select.search"></div>
            </ui-select-choices>
            </ui-select>
        <p class="m-t">Dirección:</p>
        <input type="text" name="direccion" class="form-control" ng-model="InformacionColegio.direccion" required ng-change="step1.direccion.$valid ? (steps.percent=30) : (steps.percent=20)" tabindex="3">  
        <div class="m-t m-b">
          <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step2=true">Siguiente</button>
        </div>
      </form>
    </tab>
    <tab heading="Paso 2" disabled="step1.$invalid" active="steps.step2" select="steps.percent=30">
      <form name="step2" class="form-validation">
        <p class="m-b">Continue the next step</p>
        <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
        <p>Tipo de Institución</p>
        <ui-select ng-model="InformacionColegio.tipoInstitucion.selected" tabindex="4" theme="bootstrap" required ng-change="step2.tipoInstitucion.$valid ? (steps.percent=40) : (steps.percent=30)">
            <ui-select-match placeholder="Seleccione el Tipo de Institución">{{$select.selected.descripcion}}</ui-select-match>
            <ui-select-choices repeat="tipo in TiposInstitucion | filter: $select.search">
            <div ng-bind-html="tipo.descripcion | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <p>Tipo de Jornada</p>
        <ui-select ng-model="InformacionColegio.tipoJornada.selected" tabindex="5" theme="bootstrap" required ng-change="step2.tipoJornada.$valid ? (steps.percent=50) : (steps.percent=40)">
            <ui-select-match placeholder="Seleccione el Tipo Jornada">{{$select.selected.descripcion}}</ui-select-match>
            <ui-select-choices repeat="tipoJornada in Jornadas | filter: $select.search">
            <div ng-bind-html="tipoJornada.descripcion | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>  
        
        <p>Número de Sedes</p>
        <input ui-jq="TouchSpin" type="text" value="10" class="form-control" data-min='0' data-max="20" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"  data-verticaldownclass="fa fa-caret-down" id="numSedes" tabindex="6" ng-model="InformacionColegio.numeroSedes" required ng-change="step2.numSedes.$valid ? (steps.percent=60) : (steps.percent=50)"> 
        <div class="m-t m-b">
          <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step1=true">Anterior</button>
          <button type="submit" ng-disabled="step2.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step3=true">Siguiente</button>
        </div>
      </form>
    </tab>
    <tab heading="Paso 3" disabled="step2.$invalid" active="steps.step3" select="steps.percent=60">
      <p class="m-b">Felicidades! Elige el plan que más se acomode a tus necesidades.</p>
      <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
    <div class="wrapper-md">
      <div class="row row-sm">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="panel b-a">
            <div class="panel-heading text-center bg-info no-border">
              <h4 class="text-u-c m-b-none">Básico</h4>
              <h2 class="m-t-none">
                <sup class="pos-rlt" style="top:-22px">$</sup>
                <span class="text-2x text-lt">150 mil</span>
                <span class="text-xs">/ m</span>
              </h2>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i>Acceso para 1000 usuarios
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 1 Sede
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 10 GB de almacenamiento
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Notificaciones vía correo
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Soporte gratis por seis meses
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Actualizaciones gratis por seis meses
              </li>
            </ul>
            <div class="panel-footer text-center">
              <input type="button" class="btn btn-info font-bold m" ng-click="TerminarRegistroPrueba('Basico')" value="Pruebálo gratis" />
                <br>
              <input type="button" class="btn btn-success font-bold m" ng-click="TerminarRegistro('Basico')" value="Adquirir" />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="panel b-a">
            <div class="panel-heading text-center bg-warning no-border">
              <span class="text-u-c m-b-none font-bold">Normal</span>          
            </div>
            <div class="wrapper text-center b-b b-light">
              <h2 class="m-t-none">
                <sup class="pos-rlt" style="top:-22px">$</sup>
                <span class="text-2x text-lt">600 mil</span>
                <span class="text-xs">/ m</span>
              </h2>
            </div>
            <ul class="list-group text-center no-borders m-t-sm">
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Acceso para 2000 usuarios
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 2 Sedes
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 25 GB de almacenamiento
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Notificaciones vía correo
              </li>
              <li class="list-group-item">
                <i class="icon-close text-danger m-r-xs"></i> <span class="text-l-t">Soporte gratis por seis meses</span>
              </li>
              <li class="list-group-item">
                <i class="icon-close text-danger m-r-xs"></i> <span class="text-l-t">Actualizaciones gratis por seis meses</span>
              </li>
            </ul>
            <div class="panel-footer text-center">
              <input type="button" class="btn btn-warning font-bold m" ng-click="TerminarRegistroPrueba('Normal')" value="Pruebálo gratis" />
                <br>
              <input type="button" class="btn btn-success font-bold m" ng-click="TerminarRegistro('Normal')" value="Adquirir" />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="panel b-a">
            <div class="panel-heading wrapper-xs bg-success no-border">          
            </div>
            <div class="wrapper text-center">
              <h4 class="text-u-c m-b-none">Avanzado</h4>
              <h2 class="m-t-none">
                <sup class="pos-rlt" style="top:-22px">$</sup>
                <span class="text-2x text-lt">1'200</span>
                <span class="text-xs">/ m</span>
              </h2>
            </div>
            <ul class="list-group text-center no-borders m-t-sm">
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Acceso para 3000 usuarios
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 3 Sedes
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 50 GB de almacenamiento
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Notificaciones vía correo
              </li>
              <li class="list-group-item">
                <i class="icon-close text-danger m-r-xs"></i> <span class="text-l-t">Soporte gratis por seis meses</span>
              </li>
              <li class="list-group-item">
                <i class="icon-close text-danger m-r-xs"></i> <span class="text-l-t">Actualizaciones gratis por seis meses</span>
              </li>
            </ul>
            <div class="panel-footer text-center">
              <input type="button" class="btn btn-success font-bold m" ng-click="TerminarRegistroPrueba('Avanzado')" value="Pruebálo gratis" />
                <br>
              <input type="button" class="btn btn-success font-bold m" ng-click="TerminarRegistro('Avanzado')" value="Adquirir" />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 hidden-md">
          <div class="panel b-a">
            <div class="panel-heading wrapper-xs bg-primary no-border">

            </div>
            <div class="wrapper text-center b-b b-light">
              <h4 class="text-u-c m-b-none">Premium</h4>
              <h2 class="m-t-none">
                <sup class="pos-rlt" style="top:-22px">$</sup>
                <span class="text-2x text-lt">2'250</span>
                <span class="text-xs">/ m</span>
              </h2>
            </div>
            <ul class="list-group text-center no-borders m-t-sm">
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Acceso para 5000 usuarios
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 3 Sedes
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> 100 GB de almacenamiento
              </li>
              <li class="list-group-item">
                <i class="icon-check text-success m-r-xs"></i> Aplicación móvil + Notificaciones en TR (Tiempo real)
              </li>    
              <li class="list-group-item">
                <i class="icon-close text-danger m-r-xs"></i> <span class="text-l-t">Soporte gratis por un año</span>
              </li>
              <li class="list-group-item">
                <i class="icon-close text-danger m-r-xs"></i> <span class="text-l-t">Actualizaciones gratis por un año</span>
              </li>
            </ul>
            <div class="panel-footer text-center">
              <input type="button" class="btn btn-primary font-bold m" ng-click="TerminarRegistroPrueba('Premium')" value="Pruebálo gratis" />
                <br>
              <input type="button" class="btn btn-success font-bold m" ng-click="TerminarRegistro('Premium')" value="Adquirir" />
            </div>
          </div>
        </div>
      </div>  
    </div>
</div>
    </tab>
  </tabset>
</div>